In [1]:
import pandas as pd

In [1]:
a=[1,2,3,4,5]
type(a)
iter(a)

In [5]:
b=iter(a)
for i in b:print i
print "===="
for i in b:print i #不能像第一次使用时，输出

1
2
3
4
5
====

当数据量小的时候，用迭代器显示不出优势，
但list数据量很大，比如1G以上，此时使用迭代器的优势就非常明显
说明迭代器相当于从内存中读取一个，读完然后释放，此种机制在读取大数据的时候非常有用
list会把数据全部读入内存，非常占用资源

In [6]:
b=iter(a)
b.next()

1

In [7]:
b.next()

2

In [10]:
data = [[1,2,3],['a','b','xx'],['aa',1,13]]
columns_name = ['col1','col2','col3']
index = pd.Index(['ind1','ind2','ind3'])
pd1 = pd.DataFrame(data=data,columns=columns_name,index=index)
for idx,row in pd1.iterrows():
    print(row)
    df_row = pd.DataFrame(data=[row.tolist()], columns=pd1.columns, index=[idx])
    #print(df_row)

col1    1
col2    2
col3    3
Name: ind1, dtype: object
col1     a
col2     b
col3    xx
Name: ind2, dtype: object
col1    aa
col2     1
col3    13
Name: ind3, dtype: object

In [16]:
pd.Timestamp("20190630")

Timestamp('2019-06-30 00:00:00')

In [4]:
data = [[1,2,3],['a','b','xx'],['aa',1,13]]
columns_name = ['col1','col2','col3']
index = pd.Index(['ind1','ind2','ind3'])
pd1 = pd.DataFrame(data=data,columns=columns_name,index=index)
pd1.loc['ind4',["col1"]] = 12
pd1

     col1 col2 col3
ind1    1    2    3
ind2    a    b   xx
ind3   aa    1   13
ind4   12  NaN  NaN