In [2]:
import numpy as np
import pandas as pd
dataNumPy32=np.asarray([('Janpan','Tokyo',4000),('S.Korea','Seoul',1300),('China','Beijing',9100)])
DF32=pd.DataFrame(dataNumPy32,columns=['nation','capital','GDP'])
DF32

    nation  capital   GDP
0   Janpan    Tokyo  4000
1  S.Korea    Seoul  1300
2    China  Beijing  9100

map:以相同规则将一列数据做一个映射，也就是进行相同函数的处理

In [3]:
def GDP_Factorize(v):
    fv=np.float64(v)
    if fv > 6000.0:
        return 'High'
    elif fv < 2000.0:
        return 'low'
    else:
        return 'Medium'
DF32['GDP_Level'] = DF32['GDP'].map(GDP_Factorize)
DF32['NATION'] = DF32.nation.map(str.upper)
DF32

    nation  capital   GDP GDP_Level   NATION
0   Janpan    Tokyo  4000    Medium   JANPAN
1  S.Korea    Seoul  1300       low  S.KOREA
2    China  Beijing  9100      High    CHINA

applymap功能类似于map，可以对dataframe里面的每一个元素像map那样全局操作

In [4]:
DF32.applymap(lambda x: float(x)*2 if x.isdigit() else x.upper)

,nation,capital,GDP,GDP_Level,NATION
0,<built-in method upper of str object at 0x0000...,<built-in method upper of str object at 0x0000...,8000,<built-in method upper of str object at 0x0000...,<built-in method upper of str object at 0x0000...
1,<built-in method upper of str object at 0x0000...,<built-in method upper of str object at 0x0000...,2600,<built-in method upper of str object at 0x0000...,<built-in method upper of str object at 0x0000...
2,<built-in method upper of str object at 0x0000...,<built-in method upper of str object at 0x0000...,18200,<built-in method upper of str object at 0x0000...,<built-in method upper of str object at 0x0000...