In [2]:
import datetime
import pandas as pd
#dir(datetime)

datetime 数据类型说明

date：以公历形式存储日历日期（年，月，日）
time：将时间存储为时，分，秒，毫秒
datetime：存储日期和时间
timedelta：表示两个datetime值之间的差（日，秒，毫秒）

* 字符串与datetime之间的转换
datetime<--->字符串  ：datetime.strftime('%Y-%m-%d')
字符串<--->datetime  :datetime.srtptime(value,'%Y-%m-%d')#注意'%Y-%m-%d'的格式，y小写则是年份的简写（如2015简写15）

In [19]:
#字符串<--->datetime
strtime='15-10-1'
str2time=datetime.datetime.strptime(strtime,'%y-%m-%d')
print str2time

#datetime<--->字符串
stamp=datetime.datetime(2000,3,2)
stamp2str=stamp.strftime('%Y-%m-%d') #%Y-%d-%m顺序可以变
print stamp2str

2015-10-01 00:00:00
2000-03-02

datetime.strptime是已知格式进行格式转换的最佳方法，但不方便的地方在于每次都需要明确说明格式（'%y-%m-%d'）
该种情况下可以使用dateutil中的parser.parse方法，dateutil几乎可以解析能够理解的所有格式
！！！！！但注意：dateutil.parser并不是一个好用但并不完美的解析工具，它会把一些不是日期的字符串解析为日期

In [26]:
from dateutil.parser import parse
print parse('2010-1-9')
print parse('Jan,21,2001,11:23:7 pm')
print parse('1/2/1999',dayfirst=True)#在国际惯例里，喜欢把日期写在前面，如果不添加dayfirst=True，则输出的是1999-1-2
print parse('13/12/1999')

2010-01-09 00:00:00
2001-01-21 23:23:07
1999-02-01 00:00:00
1999-12-13 00:00:00

In [28]:
datestr=['2011-1-3','2012/2/3']
pddate=pd.to_datetime(datestr)
print pddate
print type(pddate)
print type(pddate[0])

<class 'pandas.tseries.index.DatetimeIndex'>
[2011-01-03, 2012-02-03]
Length: 2, Freq: None, Timezone: None
<class 'pandas.tseries.index.DatetimeIndex'>
<class 'pandas.tslib.Timestamp'>

In [15]:
dates=[datetime.datetime(2015,1,1),datetime.datetime(2015,1,15),datetime.datetime(2015,1,31)]
pd.DatetimeIndex(dates)

<class 'pandas.tseries.index.DatetimeIndex'>
[2015-01-01, ..., 2015-01-31]
Length: 3, Freq: None, Timezone: None

In [16]:
periodindex1=pd.period_range('2015-1-1','2015-1-31',freq='D')
#按照不同的需要产生时间序列，比如按月份连续pd.period_range('2015-1','2015-1',freq='M')

In [18]:
import numpy as np
data2=[x for x in xrange(31)]
DataSeries2=pd.Series(data2,index=periodindex1)
print DataSeries2.head()

2015-01-01    0
2015-01-02    1
2015-01-03    2
2015-01-04    3
2015-01-05    4
Freq: D, dtype: int64

In [19]:
'''
时间精度的匹配问题
如2015-1与2015-1-1的匹配
'''
period_in_month=pd.period_range('2015-1','2015-3',freq="M")
period_in_day=pd.period_range('2015-1-1','2015-3-31',freq="D")
period_in_month.asfreq("D",how='start')
period_in_month=period_in_month.asfreq("D",how='start')
full_ts=pd.Series(period_in_month,index=period_in_month)

In [20]:
print full_ts

2015-01-01    2015-01-01
2015-02-01    2015-02-01
2015-03-01    2015-03-01
Freq: D, dtype: object

In [21]:
full_ts.reindex(period_in_day).head()

2015-01-01    2015-01-01
2015-01-02           NaN
2015-01-03           NaN
2015-01-04           NaN
2015-01-05           NaN
Freq: D, dtype: object

In [22]:
full_ts.reindex(period_in_day,method='ffill').head()

2015-01-01    2015-01-01
2015-01-02    2015-01-01
2015-01-03    2015-01-01
2015-01-04    2015-01-01
2015-01-05    2015-01-01
Freq: D, dtype: object

####该部分作为引入，说明，从csv与xls读取数据，关于时间，属性是不一致的########

In [11]:
csvdata=pd.read_csv('C:\\pythoncoding\\data\EBR_data\\EBR-from2008.csv')
xlsdata=pd.read_excel('c:\\pythonCoding\\data\\treasury data\\10.xls',header=None)
xlsdata.columns=['Date','yield']
print type(xlsdata['Date'])
print type(xlsdata['Date'][0])
print type(csvdata['Date'])
print type(csvdata['Date'][0])

csvdata.set_index('Date')
print type(csvdata['Date'])
print type(csvdata['Date'][0])

<class 'pandas.core.series.Series'>
<class 'pandas.tslib.Timestamp'>
<class 'pandas.core.series.Series'>
<type 'str'>
<class 'pandas.core.series.Series'>
<type 'str'>

########以下部分为pandas time series，时间序列部分##########

In [10]:
EBRdata=pd.read_csv('C:\\pythoncoding\\data\EBR_data\\EBR-from2008.csv')
EBRdata.head()

        Date  Open  High   Low  Close   Volume  Adj Close Unnamed: 7
0  2015/4/15  1.97  2.05  1.96   2.02   594000       2.02        NaN
1  2015/4/14  1.95  1.98  1.93   1.96  1670900       1.96        NaN
2  2015/4/13  1.94  1.97  1.92   1.92   841800       1.92        NaN
3  2015/4/10  1.94  1.96  1.93   1.94   547800       1.94        NaN
4   2015/4/9  1.95  1.98  1.93   1.94  1523800       1.94        NaN

In [12]:
EBRdata['Date']=pd.to_datetime(EBRdata['Date']) #把Date转换为Timestam属性，通过set_index（）是不会转换成时间戳Timestam类型
print type(EBRdata['Date'])
print type(EBRdata['Date'][0])

<class 'pandas.core.series.Series'>
<class 'pandas.tslib.Timestamp'>

In [13]:
#对于时间序列而言，一般默认为是没有规律的，这里通过resample，重新处理
#set_index设置索引，resample按“天"作为频率，dropna去掉数据中的空值
#关于resample的用法见 http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.resample.html
EBRopen=EBRdata.set_index('Date').resample('D')['Open'].dropna()
EBRall=EBRdata.set_index('Date').resample('D')

#pd的DateOffset

In [23]:
xmasDay=pd.datetime(2014,12,25)
print xmasDay
type(xmasDay)

2014-12-25 00:00:00

datetime.datetime

In [24]:
nextday=xmasDay+pd.DateOffset(days=2)
today=pd.datetime.now()
today+pd.DateOffset(weeks=1)

Timestamp('2015-11-19 15:41:40.879000')

#Note that datetime.datetime is different from pd.Timestamp. The former is a Python class and is inefficient, while the latter is based on the numpy.datetime64 datatype. The pd.DateOffset object works with pd.Timestamp and adding it to a datetime.datetime function casts that object into a pd.Timestamp object.

In [25]:
today+2*pd.DateOffset(years=2,month=6)

Timestamp('2019-06-12 15:41:40.879000')

In [27]:
from pandas.tseries.offsets import QuarterBegin
lastDay=pd.datetime(2014,12,1)
print lastDay+QuarterBegin()
dtoffset=QuarterBegin()
dtoffset.rollback(lastDay)

2015-03-01 00:00:00

Timestamp('2014-12-01 00:00:00')